/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 150px;
  background-color: #d6d6ce;
}

* {
  font-family: 'HiraKakuProN-W3','ヒラギノ角ゴ ProN W3',Meiryo;
  box-sizing: border-box;
  outline: none;
  line-height: 1.5;
}

.ptn-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
